body{
    padding: 10px;
    border: 4px solid blue;
    margin-left: 600px;
    margin-top: 40px;
    width: 750px;
    background-color: lightgray;
}
#header img{
    border: 2px solid black;
    height: 110px;
    width: 100px;
}
ul {
  list-style-type: square;
}